.button {
  background: var(--button-bg);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  color: var(--text-primary);
}

.smallButton {
  background: var(--button-bg);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 300;
  color: var(--text-primary);
}

