@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wdth,wght@0,75..100,100..800;1,75..100,100..800&display=swap');

:root {
  --main-bg-color: #000000;
  --main-font-color: #FFFFFF;
  --button-bg-dark: linear-gradient(180deg, rgba(102, 102, 102, 0.35) 0%, rgba(51, 51, 51, 0.50) 100%);
  --button-bg-light: linear-gradient(180deg, rgba(230, 230, 230, 0.35) 0%, rgba(200, 200, 200, 0.50) 100%);
  --input-bg-dark: #18181A;
  --input-bg-light: #F2F2F7;
  --input-border-dark: #292929;
  --input-border-light: #C7C7CC;
  --text-primary-dark: #FFFFFF;
  --text-primary-light: #000000;
  --text-secondary-dark: #8F8E93;
  --text-secondary-light: #8E8E93;
  --surface-dark: #1C1C1E;
  --surface-light: #F2F2F7;
  --card-bg-dark: #323234;
  --card-bg-light: #E5E5EA;
  --text-tertiary-dark: #bbb;
  --text-tertiary-light: #666;
  --modal-bg-dark: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, rgba(26, 24, 24, 1) 100%);
  --modal-bg-light: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(245, 245, 247, 1) 100%);
  --element-bg-dark: rgb(24, 24, 26);
  --element-bg-light: rgb(230, 230, 235);
  --gradient-red: linear-gradient(125deg, rgb(239 7 50) 0%, rgb(253 68 59) 100%);
  --element-bg-dark-rgb: 24, 24, 26;
  --element-bg-light-rgb: 230, 230, 235;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  user-select: none;
  background-color: #000;
  transition: .2s;
}

body.light {
  background-color: #fff;
  color: var(--main-bg-color);
}

body.light {
  --main-bg-color: #FFFFFF;
  --main-font-color: #000000;
  --button-bg: var(--button-bg-light);
  --input-bg: var(--input-bg-light);
  --input-border: var(--input-border-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --surface: var(--surface-light);
  --card-bg: var(--card-bg-light);
  --text-tertiary: var(--text-tertiary-light);
  --modal-bg: var(--modal-bg-light);
  --element-bg: var(--element-bg-light);
  --element-bg-rgb: var(--element-bg-light-rgb);
}

body:not(.light) {
  --button-bg: var(--button-bg-dark);
  --input-bg: var(--input-bg-dark);
  --input-border: var(--input-border-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --surface: var(--surface-dark);
  --card-bg: var(--card-bg-dark);
  --text-tertiary: var(--text-tertiary-dark);
  --modal-bg: var(--modal-bg-dark);
  --element-bg: var(--element-bg-dark);
  --element-bg-rgb: var(--element-bg-dark-rgb);
}

body, html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

.view {
  width: 100%;
  position: relative;
  overflow: hidden;

  padding: 0 15px 150px 15px;
  box-sizing: border-box;
  max-width: 100vw;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  background-color: #313131;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #313131;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #fff;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #313131;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #fff;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #fff;
  outline-offset: 0.125rem;
}

.lazy-load-image-background {
  display: flex!important;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}